body{
  margin: 0;
  padding: 0;
 font-family: "montserrat",sans-serif;
  color: white;
  background-image: url(logo_neu.png);
}
.box{
  width: 400px;
  padding: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-45%,-20%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: #ff7979;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "montserrat",sans-serif;

}

.box h2{
  color: #ff7979;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "montserrat",sans-serif;
