body{
	font-family: Arial;
	text-align: center;
}
button{
	background-color: lightgray;
	border: none;
	color: black;
	padding: 15px 15px;
	text-align: center;
	display: inline block;
	width: 10em;
	transition-duration: 0.4s;
	cursor: pointer;
}
button:hover{
	background-color: white;
	border: 2px solid lightgray;
}
#imageklein{
	border-radius: 50%;
	border: 3px solid black;
	height:30%;
	float: right;
}
#imagegross{
	border-radius: 50%;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
