body{
	font-family: Exo 2;
	text-align: center;
	color: black;
	background-image: url(.asos.jpg);
}

header{
	left: 788px;
	top: 115px;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 115px;
	color: #5F8183;
}

header img{
	position: absolute;
	left: 1400px;
	width: 200px;
	height: 200px;
	top:0px;
}

#login{
	position: absolute;
	width: 250px;
	height: 50px;
	left: 650px;
	top: 300px;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 45px;
	color: black;
	background-color: #94C4CC;
	border-radius: 25px;
}

#login:hover{
	background-color: #34A1B4;
	color: black;
}

#text{
	position: absolute;
	left: 600px;
	top: 450px;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 115px;
	color: black;

}

#registrieren{
	position: absolute;
	width: 250px;
	height: 50px;
	left: 650px;
	top: 550px;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 45px;
	color: black;
	background-color: #94C4CC;
	border-radius: 25px;
}

#registrieren:hover{
	background-color: #34A1B4;
}
